<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=show.name%>
    </title>
</head>

<body>
    <h1>Name of the Farm::--<%= show.name %></h1>
    <ul>
        <li>City :: <%= show.city %>/-</li>
        <li>Email :: <%= show.email %> </li>
    </ul>
    <h2>Products Available</h2>
    <ul>
        <% for(let product of show.products){ %>
            <li><a href="/sample/<%= product._id %> "><%= product.name %> </a></li>
            <% } %>  
    </ul>

    <a href="/farms">Back to Farm List</a>
    <a href="/farms/<%= show._id%>/product/new ">Add new Elements</a>
   
</body>

</html>